* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  background-color: #F8F9FA;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
