.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  .login {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background-color: #503FE0;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  
  .input {
    padding: .5rem;
    border-radius: .5rem;
  }
  