.issues {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.titleContainer {
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
}

.title {
    font-size: 2rem;
}

.add {
    display: flex;
    flex: 0 0 calc(33.333% - 1rem);
    margin: .5rem;
    background-color: white;
    color: #503FE0;
    border: 2px solid #503FE0;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addButton {
    margin: .5rem;
    background-color: white;
    color: #503FE0;
    border: 2px solid #503FE0;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
}

.issuesList {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: flex-start;
}

.loadingSpinner {
    margin-top: 2rem;
}
